<style>
    .menu{
        text-align: right;
    }
    .profile-image{
        padding: 5px;
    }
    .list-of-user{
        min-height: 500px;
    }
</style>
<div class="menu">
    <a href="#!/" class="btn btn-primary">Home</a>
    <a href="#!/about" class="btn btn-primary">About Us</a>
    <a href="#!/login" class="btn btn-primary">Logout</a>
</div>

<div>

        <button ng-click="sortIt()">Sort</button>
        <label>Search: <input ng-model="searchText"></label>
</div>
<div class="list-of-user">
<ul>
    <li ng-repeat="user in vm.gitUser | orderBy:vm.sortOrder | filter:searchText">
        <img class="profile-image" width="40px" src="{{user.avatar_url}}"> - <span style="font-size:18px;"> {{user.login}} </span>
    </li>
</ul>


<ul ng-if="vm.pager.pages.length" class="pagination">
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
            <a ng-click="vm.setPage(page)">{{page}}</a>
        </li>                
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
        </li>
    </ul>
</div>