<style>
    .menu {
        text-align: right;
    }

    .profile-image {
        padding: 5px;
    }

    .list-of-user {
        min-height: 500px;
    }

    .pagination {
        text-align: center;
    }
</style>
<div class="menu">
    <a href="#!/" class="btn btn-primary">Home</a>
    <a href="#!/about" class="btn btn-primary">About Us</a>
    <a href="#!/login" class="btn btn-primary">Logout</a>
</div>

<div>

    <button ng-click="sortIt()">Sort</button>
    <label>Search: <input ng-model="searchText"></label>
</div>
<div class="list-of-user">
    <ul class="pagination">
        <li ng-class="{disabled:vm.pDisabled}">
            <a ng-click="setPagePrevious()">Previous</a>
        </li>
        <li ng-class="{disabled:vm.nDisabled}">
            <a ng-click="setPageNext()">Next</a>
        </li>
    </ul>

    <ul>
        <li ng-repeat="user in vm.pageVice | orderBy:vm.sortOrder | filter:searchText">
            <img class="profile-image" width="60px" src="{{user.avatar_url}}"> &nbsp; <span style="font-size:18px;">
                {{user.login}} </span>
                <a href="#!/details/{{user.id}}" class="btn btn-primary">Details</a>

        </li>
    </ul>


</div>